body {
    font-family: sans-serif;
}

#formNovaTarefa {
    margin-bottom: 20px;
}

#tabelaTarefas {
    border-collapse: collapse;
    width: 100%;
}

#tabelaTarefas th,
#tabelaTarefas td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabelaTarefas tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#tabelaTarefas button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}
